.destacados__section__img{
    margin-bottom: 20px;
    }


    #accordionFlushExample{
        width: 100%;
    }

    .accordion-button {
        font-size: 20px;
    }

.container{
    margin-top: 15px;
}

.principal{
    margin-top: 20px;
    width: 100%;
}



/*====INSTITUCIONAL==== */

.principal__insti{
    width: 100%;
}




.section__insti__p{
    padding: 15px;
    
}


.form__insti{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
}


.form__insti__mail{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.form__insti__coments{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*====INSTITUCIONAL====*/


.pricipal__section{
    width: 100%;
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
}

.principal__section__contenedor1{
    display: flex;
    
margin-left: 10px;
margin-right: 10px;
}

.contenedor1__img{
    width: 100%;
}

.contenedor1__img2{
    display: none;
    width: 100%;
}


.principal{
    width: 100%;
}


.principal__section__contenedor2{
    padding-top: 5px;
    display: flex;
    justify-content: space-around ;
    flex-direction: column;
    width: 100%;
}

.principal__section__img1{

    margin-top: 2px;
    width: 100%;
}

.principal__section__img2{
    width: 100%;
    margin-top: 2px;
}

.principal__section__img3{
    width: 100%;
    margin-top: 2px;
}

.destacados__h2{
    width: 100%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 20px;
    font-size:  20px;
    text-align: center;
}

.pack__img1{
    display: flex;
    justify-items: space-between;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pack__img2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pack__img3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pack__img4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.destacados__section{
    width: 100%;
    margin-top: 20px;
}

.destacados__section__grid{
    
    padding: 0px;
    list-style: none;
    margin: 0px;
    width: 100%;

    display: grid;
    grid-template-areas: 
    "pack1 pack2"
    "pack3 pack4"
    "pack5 pack6"
    "pack7 pack8"
    "pack9 pack10"
    "pack11 pack12"
    ;
    
    align-items:center;
    justify-items: center;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    row-gap: 10px;
}


.imagen__productos{
    width: 150px;
}



.pack1{
    text-align: center;
    width: 100%;
    grid-area: "pack1";
}

.pack2{
    text-align: center;
    width: 100%;
    grid-area: "pack2";
}

.pack3{
    text-align: center;
    width: 100%;
    grid-area: "pack3";
}

.pack4{
    text-align: center;
    width: 100%;
    grid-area: "pack4";
}

.pack5{
    text-align: center;
    width: 100%;
    grid-area: "pack5";
}

.pack6{
    text-align: center;
    width: 100%;
    grid-area: "pack6";
}

.pack7{
    text-align: center;
    width: 100%;
    grid-area: "pack7";
}

.pack8{
    text-align: center;
    width: 100%;
    grid-area: "pack8";
}

.pack9{
    text-align: center;
    width: 100%;
    grid-area: "pack9";
}

.pack10{
    text-align: center;
    width: 100%;
    grid-area: "pack10";
}

.pack11{
    text-align: center;
    width: 100%;
    grid-area: "pack11";
}

.pack12{
    text-align: center;
    width: 100%;
    grid-area: "pack12";
}
