
@import "Variables";

@import "BodyGrid";

@import "header";

@import "Main";

@import "Form";

@import "Footer";

@import "MediaQueries";

@import "KeyFrames";






// MAPS

$paddings: (
    multiproposito: 20px ,
    indumentaria: 20px ,
    decoracion: 20px ,
);


@each $valor, $numero in $paddings {
    .padding-#{$valor} {
        padding-top: $numero;
    }
}





//MIXIN

@mixin size {
    width: 100%;
    padding-top: 10px;
}


.iframe{

    @include size ;
}




